@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Styles from styles/theme.css */
  .background-light850_dark100 {
    @apply bg-light-850 dark:bg-dark-100;
  }

  .background-light900_dark200 {
    @apply bg-light-900 dark:bg-dark-200;
  }

  .background-light900_dark300 {
    @apply bg-light-900 dark:bg-dark-300;
  }

  .background-light800_darkgradient {
    @apply bg-light-800 dark:dark-gradient;
  }

  .background-light800_dark400 {
    @apply bg-light-800 dark:bg-dark-400 !important;
  }

  .background-light700_dark400 {
    @apply bg-light-700 dark:bg-dark-400;
  }

  .background-light700_dark300 {
    @apply bg-light-700 dark:bg-dark-300;
  }

  .background-light800_dark400 {
    @apply bg-light-800 dark:bg-dark-400;
  }

  .background-light800_dark300 {
    @apply bg-light-800 dark:bg-dark-300 !important;
  }

  .text-dark100_light900 {
    @apply text-dark-100 dark:text-light-900 !important;
  }

  /* ... (other styles) ... */
  .placeholder {
    @apply placeholder:text-light-400 dark:placeholder:text-dark-400;
  }
}

body {
  font-family: "Inter", sans-serif;
}

@layer utilities {

  /* Styles from app/globals.css */
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .card-wrapper {
    @apply bg-light-900 dark:dark-gradient shadow-light-100 dar;
  }

  .btn {
    @apply bg-light-800 dark:bg-dark-300 !important;
  }

  .btn-secondary {
    @apply bg-light-800 dark:bg-dark-400 !important;
  }

  /* ... (other styles) ... */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}